.smallNavigation {
  width: 80vw;
  height: 48px;
  position: fixed;
  // top: 85%;
  left: 50%;
  z-index: 200;
  transform: translateX(-50%);
  backdrop-filter: blur(32px);
  background-blend-mode: overlay;
  background-color: rgba(85, 85, 85, 0.246);
  border-radius: 1rem;
  border: 1px solid #ffffff2f;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.4117647059);

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li {
      svg {
        width: 28px;
        filter: invert(1);
      }
    }
  }
}