@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&family=Roboto:wght@300;400&display=swap");

@font-face {
  font-family: "Roxal";
  src: url("./assets/RoxaleStory.woff") format("woff");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --radial-bg: radial-gradient(
    ellipse 80% 50% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    hsla(0, 0%, 100%, 0) 100%
  );

  --button-bg: #432da6;
  --button-bg-hover: #5541b0db;
}
