@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #000212;
  scroll-behavior: smooth;
}
